* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #64b1d4;
}

.input {
  text-align: center;
  margin: 100px auto;
}

input[type="submit"] {
  padding: 15px 30px;
  background: #397e9e;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}

.input input[type="text"] {
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.card {
  width: 50%;
  background: #397e9e;
  height: 40vh;
  margin: 50px auto;
  border-radius: 2px;
  padding-top: 50px;
  border-radius: 20px;
  color: white;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1 {
  padding: 5px 0;
  text-align: center;
}

.card p {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}

#myName {
  display: inline-block;
  background-color: #e7e7e7;

  padding: 10px 15px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
